
<br/>
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">Assignment</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li [ngClass]="checkActiveLink('/')">
        <a class="nav-link" href="#" [routerLink]="['/']">Home</a>
      </li>
      <li [ngClass]="checkActiveLink('/login')">
        <a class="nav-link" [routerLink]="['/login']">Log In</a>
      </li>
      <li [ngClass]="checkActiveLink('/countries')">
        <a class="nav-link" href="#" [routerLink]="['/countries']">Countries</a>
      </li>
      <li [ngClass]="checkActiveLink('/country-codes')">
        <a class="nav-link" [routerLink]="['/country-codes']">Country-Codes </a>
      </li>
      <li [ngClass]="checkActiveLink('/country-codes/search')">
        <a class="nav-link" [routerLink]="['/country-codes/search']">Search</a>
      </li>
    </ul>
    
  </div>
</nav>
<div class="container" style="padding: 60px 15px 15px 15px; max-width: 100%;">
  <div class="row justify-content-md-center" style="padding-left: 15px; padding-right: 15px;">
    <div class="col-sm-12 col-md-4 col-lg-4" *ngIf="showComponent">
      <div class="card">
        <div class="card-header" [style.color]="FontColor">
          {{ComponentTitle}}
        </div>
        <div class="card-body">
          <h5 class="card-title">Check Property Binding here.</h5>
          <p class="card-text">For ComponentTitle and FontColor.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8 justify-content-md-center" *ngIf="!showComponent">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


